gastronomia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pratos" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nome" type="string">
                            <xs:element name="ingredientes" type="string">
                            <xs:element name="tempPrep" type="integer">                    
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            <xs:sequence>
        <xs:complexType>
    </xs:element>
</xs:schema>